<template>
  <div id="container" ref="cont">
    <div id="toolbar">
      <div id="toolbar-controls">
        <button type="submit" form="config-form">Save</button>
        <button v-on:click="exitEditor">Exit editor</button>
        <button v-on:click="toggleShowConfig">{{ editorButtonMessage }}</button>
      </div>
      <div id="editor-title">
        <h3>GitBuilding Config Editor</h3>
      </div>
    </div>
    <div id="editor">
      <div id="form-panel">
        <form id="config-form" @submit="saveChanges">
          <div id="form-errors" v-if="errors.length">
            <b>The validator raided the following errors:</b>
            <ul>
              <li
                v-for="(error, index) in errors"
                v-bind:key="'error-' + index"
              >
                {{ error }}
              </li>
            </ul>
            <b>This is likely due to a bug in this form.</b>
          </div>
          <ProjectDetails :configJson="configJson" />
          <LicenseInfo
            :configJson="configJson"
            :licenses="licenses"
            :pages="pages"
          />
          <div class="outer-form-element">
            <h2>Bill of Materials Configuration</h2>

            <label class="form-top-level-label" for="page-bom-title"
              >Title for page BoM:</label
            >
            <input
              v-model="configJson.PageBOMTitle"
              type="text"
              name="page-bom-title"
              size="50"
            />
            <div class="form-info">
              Title to be displayed for the bill of materials displayed within a
              page.
            </div>

            <label class="form-top-level-label" for="default-category"
              >Default category:</label
            >
            <select
              v-model="configJson.DefaultCategory"
              name="default-category"
            >
              <option value="part">Part</option>
              <option value="tool">Tool</option>
              <option
                v-for="(category, i) in configJson.CustomCategories"
                v-bind:key="'category-' + i"
                :value="category._id"
              >
                {{ category.DisplayName }}
              </option>
            </select>
            <div class="form-info">
              The default category of when adding items to you bill of
              materials.
            </div>
            <div class="form-label-like-title">Custom categories:</div>
            <div class="form-info">
              Add custom categories for categorising your project's bill of
              materials.
            </div>
            <div
              class="custom-categories"
              v-for="(category, i) in configJson.CustomCategories"
              v-bind:key="'cat-' + i"
            >
              <label class="form-top-level-label" for="category-label"
                >Category label:
              </label>
              <input
                v-model="configJson.CustomCategories[i]._id"
                type="text"
                name="category-label"
                size="30"
                required="true"
              />
              <div class="form-info">
                The category code used when creating a part link. Ideally this
                should be short and not contain spaces or special characters.
              </div>
              <label class="form-top-level-label" for="category-display"
                >Category display name:
              </label>
              <input
                v-model="configJson.CustomCategories[i].DisplayName"
                type="text"
                name="category-display"
                size="30"
                required="true"
              />
              <div class="form-info">
                Title for the category in your bill of materials.
              </div>
              <label class="form-top-level-label" for="category-reuse"
                >Reuse items?
              </label>
              <input
                v-model="configJson.CustomCategories[i].Reuse"
                type="checkbox"
                name="category-reuse"
                checked="false"
              />
              <div class="form-info">
                Set whether items can be reused. For example, this should be set
                to true for tools, because if you use a screwdriver twice, you
                only need one screwdriver.
              </div>
              <button
                type="button"
                class="block-button"
                @click="removeCategory(i)"
              >
                Remove category
              </button>
            </div>
            <button type="button" @click="addCategory">Add a category</button>
          </div>
          <div class="outer-form-element">
            <h2>Output Customisation</h2>
            <label class="form-top-level-label" for="landing-page"
              >Set landing page:</label
            >
            <select
              class="form-select"
              v-model="configJson.LandingPage"
              name="landing-page"
            >
              <option selected="true"></option>
              <option
                v-for="(page, j) in pages"
                v-bind:key="'landing-page-' + j"
                :value="page"
                >{{ page }}</option
              >
            </select>
            <div class="form-info">
              By default the landing page of your documentation is a file named
              <tt>index.md</tt>. This option to make another page the landing
              page. This may cause some problems if a page is called
              <tt>index.md</tt>.
            </div>

            <div class="form-label-like-title">Navigation:</div>
            <div class="form-info">
              If set this will override the auto-generated navigation
            </div>
            <div
              class="navigation-config"
              v-for="(navitem, i) in configJson.Navigation"
              v-bind:key="'navitem-' + i"
            >
              <label class="form-top-level-label" for="nav-link"
                >Navigation Item Link:
              </label>
              <select
                class="form-select"
                v-model="configJson.Navigation[i].Link"
                name="nav-link"
                required="True"
              >
                <option
                  v-for="(page, j) in pages"
                  v-bind:key="i + 'nav-page-' + j"
                  :value="page"
                  >{{ page }}</option
                >
              </select>

              <label class="form-top-level-label" for="nav-title"
                >Navigation Item Title:
              </label>
              <input
                v-model="configJson.Navigation[i].Title"
                type="text"
                name="nav-title"
                size="30"
                required="true"
              />

              <div
                class="sub-nav-config"
                v-for="(navitem, j) in configJson.Navigation[i].SubNavigation"
                v-bind:key="'nav-' + i + '-sub-' + j"
              >
                <label class="form-top-level-label" for="sub-nav-link"
                  >Sub-navigation Item Link:
                </label>
                <select
                  class="form-select"
                  v-model="configJson.Navigation[i].SubNavigation[j].Link"
                  name="sub-nav-link"
                  required="True"
                >
                  <option
                    v-for="(page, k) in pages"
                    v-bind:key="'nav-' + i + '-sub-' + j + '-page-' + k"
                    :value="page"
                    >{{ page }}</option
                  >
                </select>

                <label class="form-top-level-label" for="sub-nav-title"
                  >Sub-navigation Item Title:
                </label>
                <input
                  v-model="configJson.Navigation[i].SubNavigation[j].Title"
                  type="text"
                  name="sub-nav-title"
                  size="30"
                  required="true"
                />
                <button
                  type="button"
                  class="block-button"
                  @click="removeSubNavItem(i, j)"
                >
                  Remove this sub-navigation item
                </button>
              </div>
              <button
                type="button"
                class="block-button"
                @click="addSubNavItem(i)"
              >
                Add sub-navigation item
              </button>
              <button
                type="button"
                class="block-button"
                @click="removeNavItem(i)"
              >
                Remove this navigation item
              </button>
            </div>
            <button type="button" @click="addNavItem">
              Add navigation item
            </button>

            <label class="form-top-level-label" for="autocomplete-subnav">
              Autocomplete Sub-Navigation?:
            </label>
            <input
              v-model="configJson.AutoCompleteSubNav"
              type="checkbox"
              checked="True"
              name="autocomplete-subnav"
            />
            <div class="form-info">
              If selected any pages set in the custom navigation with have their
              sub-navigation automatically generated.
            </div>

            <label class="form-top-level-label" for="bottom-nav">
              Remove bottom navigation:
            </label>
            <input
              v-model="configJson.RemoveBottomNav"
              type="checkbox"
              name="bottom-nav"
            />
            <div class="form-info">
              Check to remove the Previous and Next links at the bottom of
              pages.
            </div>
          </div>
          <div class="outer-form-element">
            <h2>Data Settings</h2>

            <div class="form-label-like-title">External directories:</div>
            <div class="form-info">
              Allow files to be linked to in specific external directories
            </div>
            <div
              class="external-dirs"
              v-for="(extdir, i) in configJson.ExternalDirs"
              v-bind:key="'extdir-' + i"
            >
              <label class="form-top-level-label" for="external-directory"
                >External Directory Path:
              </label>
              <input
                v-model="configJson.ExternalDirs[i]._value"
                type="text"
                name="external-directory"
                size="30"
                required="true"
              />
              <div class="form-info">
                The relative path to an external directory
              </div>
              <label class="form-top-level-label" for="doc-dir"
                >Documentation path:
              </label>
              <input
                v-model="configJson.ExternalDirs[i]._id"
                type="text"
                name="doc-dir"
                size="30"
                required="true"
              />
              <div class="form-info">
                The path to use in the output documentation.
              </div>
              <button
                type="button"
                class="block-button"
                @click="removeExtDir(i)"
              >
                Remove directory
              </button>
            </div>
            <button type="button" @click="addExtDir">
              Add external directory
            </button>

            <div class="form-label-like-title">Excluded files:</div>
            <div class="form-info">
              List any files that GitBuilding should ignore in the documentation
              directory. Groups of files can be ignored using gitignore syntax.
            </div>
            <div
              class="exclude"
              v-for="(exclusionRule, i) in configJson.Exclude"
              v-bind:key="'exclusionRule-' + i"
            >
              <input
                v-model="configJson.Exclude[i]"
                type="text"
                name="exclude"
                size="30"
                required="true"
              /><button type="button" @click="removeExclusion(i)">
                Remove
              </button>
            </div>
            <button type="button" @click="addExclusion">
              Add exclusion rule
            </button>

            <div class="form-label-like-title">Force Output:</div>
            <div class="form-info">
              List any files that should always be in the output documentation
              even if they are not linked to within the documentation. Groups of
              files can be added with Glob patterns.
            </div>
            <div
              class="force-output"
              v-for="(forcedOutput, i) in configJson.ForceOutput"
              v-bind:key="'forcedOutput-' + i"
            >
              <input
                v-model="configJson.ForceOutput[i]"
                type="text"
                name="force-output"
                size="30"
                required="true"
              /><button type="button" @click="removeForcedOutput(i)">
                Remove
              </button>
            </div>
            <button type="button" @click="addForcedOutput">
              Add forced output
            </button>
          </div>
          <div class="outer-form-element">
            <h2>Editor Settings</h2>
            <label class="form-top-level-label" for="fussy">
              Enable Fussy Warnings:
            </label>
            <input
              v-model="configJson.Fussy"
              type="checkbox"
              name="fussy"
              checked="True"
            />
            <div class="form-info">
              When enabled GitBuilding will warn about possible problems with
              the documentation
            </div>
          </div>
          <StyleConfig :configJson="configJson" />
        </form>
      </div>
      <div v-if="showConfig" id="data-panel">
        <div id="data-title">
          buildconf.yaml
        </div>
        <div id="data-body">
          <pre>{{ configYaml }}</pre>
        </div>
      </div>
    </div>
    <div
      id="saving-background"
      v-bind:style="{ visibility: saveMessageVisible }"
    >
      <div id="saving-message">
        Please wait while project rebuilds
        <vue-simple-spinner size="medium" />
      </div>
    </div>
  </div>
</template>

<script>
const yaml = require("js-yaml");
import ProjectDetails from "./ProjectDetails.vue";
import LicenseInfo from "./LicenseInfo.vue";
import "../assets/form.css";
import StyleConfig from "./StyleConfig.vue";
export default {
  name: "ConfigEditor",

  components: {
    ProjectDetails,
    LicenseInfo,
    StyleConfig
  },

  data() {
    return {
      saving: false,
      configJson: {},
      savedConfig: "",
      licenses: {},
      pages: [],
      errors: [],
      showConfig: false
    };
  },

  mounted() {
    window.addEventListener("beforeunload", this.checkSave);
  },

  asyncComputed: {
    saveMessageVisible() {
      return this.saving ? "visible" : "hidden";
    },
    editorButtonMessage() {
      if (this.showConfig) {
        return "Hide config file";
      }
      return "Show config file";
    },
    configYaml() {
      return this.asYaml(this.configJson);
    }
  },
  methods: {
    updateFromServer() {
      this.$http.get("raw").then(function(response) {
        // The list properties must exists from the start or v-for
        // doesn't update proplery. Some pattern properties,
        // need to be specified as lists.
        let updated_json = this.ensureListPropertiesExits(
          this.listifyPatternProperties(response.body.config, [
            "CustomCategories",
            "ExternalDirs"
          ]),
          [
            "Authors",
            "Exclude",
            "ForceOutput",
            "CustomCategories",
            "ExternalDirs",
            "Navigation"
          ]
        );
        //Explicitly add subnavigation to any nav items without it
        for (const navItem of updated_json.Navigation) {
          if (!("SubNavigation" in navItem)) {
            navItem.SubNavigation = [];
          }
        }
        this.configJson = updated_json;
        this.savedConfig = this.asYaml(this.configJson);
        this.pages = response.body.pages;
        this.licenses = response.body.licenses;
      });
    },
    asYaml(config) {
      let configObject = this.removeEmptyProperties(
        this.objectifyPatternProperties(config, [
          "CustomCategories",
          "ExternalDirs"
        ])
      );
      if ("Navigation" in configObject) {
        for (const navItem of configObject.Navigation) {
          if (
            Array.isArray(navItem.SubNavigation) &&
            navItem.SubNavigation.length == 0
          ) {
            delete navItem.SubNavigation;
          }
        }
      }
      return yaml.dump(configObject);
    },
    toggleShowConfig() {
      this.showConfig = !this.showConfig;
    },
    ensureListPropertiesExits(inputObject, listPropertyKeys) {
      // This is a deepcopy!?
      let outputObject = JSON.parse(JSON.stringify(inputObject));
      for (const groupKey of listPropertyKeys) {
        if (!(groupKey in inputObject)) {
          outputObject[groupKey] = [];
        }
      }
      return outputObject;
    },
    listifyPatternProperties(inputObject, patternPropertyKeys) {
      // This is a deepcopy!?
      let outputObject = JSON.parse(JSON.stringify(inputObject));
      for (const groupKey of patternPropertyKeys) {
        if (groupKey in inputObject) {
          let groupList = [];
          for (const itemKey of Object.keys(inputObject[groupKey])) {
            let itemObject = { _id: itemKey };
            if (typeof inputObject[groupKey][itemKey] === "object") {
              for (const key of Object.keys(inputObject[groupKey][itemKey])) {
                itemObject[key] = inputObject[groupKey][itemKey][key];
              }
            } else {
              itemObject._value = inputObject[groupKey][itemKey];
            }
            groupList.push(itemObject);
          }
          outputObject[groupKey] = groupList;
        }
      }
      return outputObject;
    },
    objectifyPatternProperties(inputObject, patternPropertyKeys) {
      // This is a deepcopy!?
      let outputObject = JSON.parse(JSON.stringify(inputObject));
      for (const groupKey of patternPropertyKeys) {
        if (groupKey in outputObject) {
          let groupObj = {};
          for (const itemObject of outputObject[groupKey]) {
            let _id = itemObject._id;
            delete itemObject._id;
            if ("_value" in itemObject) {
              groupObj[_id] = itemObject._value;
            } else {
              groupObj[_id] = {};
              for (const key of Object.keys(itemObject)) {
                groupObj[_id][key] = itemObject[key];
              }
            }
          }
          outputObject[groupKey] = groupObj;
        }
      }
      return outputObject;
    },
    removeEmptyProperties(inputObject) {
      // This is a deepcopy!?
      let outputObject = JSON.parse(JSON.stringify(inputObject));
      for (const key of Object.keys(inputObject)) {
        if (inputObject[key] === "") {
          delete outputObject[key];
        } else if (
          Array.isArray(inputObject[key]) &&
          inputObject[key].length == 0
        ) {
          delete outputObject[key];
        } else if (
          typeof inputObject[key] === "object" &&
          Object.keys(inputObject[key]).length == 0
        ) {
          delete outputObject[key];
        }
      }
      return outputObject;
    },
    addCategory() {
      this.configJson.CustomCategories.push({ _id: "", Reuse: false });
    },
    removeCategory(i) {
      this.configJson.CustomCategories.splice(i, 1);
    },
    addNavItem() {
      this.configJson.Navigation.push({
        Link: "",
        Title: "",
        SubNavigation: []
      });
    },
    removeNavItem(i) {
      this.configJson.Navigation.splice(i, 1);
    },
    addSubNavItem(i) {
      this.configJson.Navigation[i].SubNavigation.push({ Link: "", Title: "" });
    },
    removeSubNavItem(i, j) {
      this.configJson.Navigation[i].SubNavigation.splice(j, 1);
    },
    addExtDir() {
      this.configJson.ExternalDirs.push({ _id: "", _value: "" });
    },
    removeExtDir(i) {
      this.configJson.ExternalDirs.splice(i, 1);
    },
    addExclusion() {
      this.configJson.Exclude.push("");
    },
    removeExclusion(i) {
      this.configJson.Exclude.splice(i, 1);
    },
    addForcedOutput() {
      this.configJson.ForceOutput.push("");
    },
    removeForcedOutput(i) {
      this.configJson.ForceOutput.splice(i, 1);
    },
    saveChanges(e) {
      e.preventDefault();
      this.saving = true;
      this.$http
        .post("save", {
          config: this.asYaml(this.configJson)
        })
        .then(response => {
          this.saving = false;
          if (response.body.saved) {
            this.savedConfig = this.asYaml(this.configJson);
            this.saving = false;
          } else {
            this.errors = response.body.warnings;
            this.saving = false;
            this.$fire({
              type: "error",
              text: "More details provided at top of page.",
              title: "Error",
              heightAuto: false
            });
          }
        })
        .catch(error => {
          this.saving = false;
          console.error(error);
          this.errors = ["Can't save due to unknown error"];
          this.$fire({
            type: "error",
            text: "More details provided at top of page.",
            title: "Error",
            heightAuto: false
          });
        });
    },

    checkSave(e) {
      if (this.savedConfig == this.asYaml(this.configJson)) return;
      e.returnValue = `Are you sure you want to leave?`;
    },

    exitEditor() {
      window.location.href = window.location.href.replace(
        /\/-\/conf-editor\//,
        ""
      );
    }
  },

  created() {
    this.updateFromServer();
  }
};
</script>

<style scoped>
#container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#toolbar {
  flex: 0 1 auto;
  background: white;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}

#toolbar h2,
#toolbar h3 {
  display: inline;
}

#toolbar-controls {
  display: block;
  float: left;
}

#editor-title {
  display: block;
  float: right;
}

#editor {
  margin: 0;
  flex: 1 1 auto;
  display: flex;
  min-width: 0;
  min-height: 0;
}

#saving-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

#saving-message {
  top: 40%;
  left: 35%;
  height: 20%;
  width: 30%;
  position: relative;
  background: #fff;
  text-align: center;
  padding: 20px;
}

#form-panel {
  width: 49%;
  overflow: auto;
  margin: 5px auto 25px auto;
  min-width: 480px;
}

#form-errors {
  color: red;
}

#data-panel {
  width: 49%;
  overflow: auto;
  padding: 15px;
}

#data-title {
  border: 1px solid rgb(51, 51, 51);
  background-color: rgb(250, 222, 226);
  padding: 5px;
  font-weight: bold;
}

#data-body {
  border: 1px solid rgb(51, 51, 51);
  overflow: auto;
  padding: 5px;
}

.block-button {
  display: block;
  margin: 10px 0 0 0;
}

.custom-categories {
  padding: 0px 10px 10px 10px;
  border: 1px solid rgb(180, 6, 6);
  border-radius: 10px;
  margin: 3px;
}

.v-input-colorpicker {
  padding-bottom: 5px;
}

.navigation-config {
  padding: 0px 10px 10px 10px;
  border: 1px solid rgb(180, 6, 6);
  border-radius: 10px;
  margin: 3px;
}

.sub-nav-config {
  padding: 0px 10px 10px 10px;
  border: 1px solid rgb(180, 6, 6);
  border-radius: 10px;
  margin: 3px;
}

.external-dirs {
  padding: 0px 10px 10px 10px;
  border: 1px solid rgb(180, 6, 6);
  border-radius: 10px;
  margin: 3px;
}
</style>
