<template>
  <div class="outer-form-element">
    <h2>Project Details</h2>
    <div v-if="!titleOverride">
      <label class="form-top-level-label" for="title">Project title:</label>
      <input v-model="configJson.Title" type="text" name="title" size="50" />
      <div class="form-info">
        A title for your project
      </div>
    </div>
    <div class="form-label-like-title">Authors:</div>
    <div
      class="authors"
      v-for="(author, i) in configJson.Authors"
      v-bind:key="'author-' + i"
    >
      <label for="author">Author {{ i + 1 }}: </label>
      <input
        v-model="configJson.Authors[i]"
        type="text"
        name="author"
        size="30"
        required="true"
      /><button type="button" @click="removeAuthor(i)">Remove</button>
    </div>
    <button type="button" @click="addAuthor">Add an author</button>

    <label class="form-top-level-label" for="affiliation">Affiliation:</label>
    <input
      v-model="configJson.Affiliation"
      type="text"
      name="affiliation"
      size="50"
    />
    <div class="form-info">
      The organisation your project is affiliated with.
    </div>

    <label class="form-top-level-label" for="email">Project email:</label>
    <input v-model="configJson.Email" type="text" name="email" size="50" />
    <div class="form-info">
      The email address for people to contact your project.
    </div>
    <div v-if="titleOverride">
      <label class="form-top-level-label" for="title"
        >Override project title:</label
      >
      <input v-model="configJson.Title" type="text" name="title" size="50" />
      <div class="form-info">
        By default your project title is the top level heading on your landing
        page. This setting can override that title.
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProjectDetails",

  components: {},

  data() {
    return {};
  },

  props: {
    configJson: Object,
    // Sets whether to ask for the title at the top (for new projects)
    // or at the bottom as an override in the config Editor
    titleOverride: { type: Boolean, default: true }
  },

  mounted() {},

  asyncComputed: {},
  methods: {
    addAuthor() {
      this.configJson.Authors.push("");
    },
    removeAuthor(i) {
      this.configJson.Authors.splice(i, 1);
    }
  },
  created() {}
};
</script>

<style scoped></style>
