<template>
  <div class="outer-form-element">
    <h2>Style Configuration</h2>
    <label class="form-top-level-label" for="primary-color">
      Primary Color:
    </label>
    <div class="color-input">
      <div>{{ configJson.primaryColor }}</div>
      <v-input-colorpicker
        v-model="configJson.primaryColor"
        name="primary-color"
        class="v-input-colorpicker"
      />
    </div>
    <div class="form-info">
      Primary color of the documentation (default: #f1502f)
    </div>

    <label class="form-top-level-label" for="secondary-color">
      Secondary Color:
    </label>
    <div class="color-input">
      <div>{{ configJson.secondaryColor }}</div>
      <v-input-colorpicker
        v-model="configJson.secondaryColor"
        name="primary-color"
        class="v-input-colorpicker"
      />
    </div>
    <div class="form-info">
      Secondary color of the documentation (default: #cccccc)
    </div>

    <label class="form-top-level-label" for="hover-color">
      Hover Color:
    </label>
    <div class="color-input">
      <div>{{ configJson.hoverColor }}</div>
      <v-input-colorpicker
        v-model="configJson.hoverColor"
        name="hover-color"
        class="v-input-colorpicker"
      />
    </div>
    <div class="form-info">
      Hover color of the documentation (default: #555555)
    </div>

    <label class="form-top-level-label" for="remove-images-border">
      Remove Images Border:
    </label>
    <input
      v-model="configJson.removeImagesBorder"
      type="checkbox"
      name="remove-images-border"
    />
    <div class="form-info">
      Removes the border line from documentation images
    </div>

    <label class="form-top-level-label" for="remove-images-brackground">
      Remove Images Background:
    </label>
    <input
      v-model="configJson.removeImagesBackground"
      type="checkbox"
      name="remove-images-background"
    />
    <div class="form-info">
      Removes the border background color from documentation images
    </div>
  </div>
</template>
<script>
import InputColorPicker from "vue-native-color-picker";
export default {
  name: "StyleConfig",

  components: { "v-input-colorpicker": InputColorPicker },

  data() {
    return {};
  },

  props: {
    configJson: Object
  },

  mounted() {},
  created() {}
};
</script>

<style>
.color-input {
  display: flex;
  gap: 10px;
}
</style>
