:root {
  --primary-color: #f1502f;
  --secondary-color: #555555;
}

body {
  color: black;
  font-size: 12pt;
  font-family: sans-serif;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
}

h1 {
  font: 24pt sans-serif;
  font-weight: bold;
  line-height: 26pt;
  margin-top: 0;
}

h2 {
  font: 16pt sans-serif;
  font-weight: bold;
  line-height: 18pt;
}

h3 {
  font: 14pt sans-serif;
  font-weight: bold;
  line-height: 16pt;
}

h4 {
  font: 12pt sans-serif;
  font-weight: bold;
  line-height: 14pt;
}

.info {
  color: #777;
  margin: 2px 0;
}

.author {
  color: #777;
  line-height: 14pt;
  margin: 2px 0;
}

.affiliation {
  color: #777;
  line-height: 14pt;
  margin: 2px 0;
}

.email {
  color: #777;
  line-height: 14pt;
  margin: 2px 0;
}

.license {
  color: #777;
  line-height: 14pt;
  margin: 2px 0;
}

img {
  box-sizing: border-box;
  max-height: 50vh;
  object-fit: contain;
  padding: 0;
  width: 70%;
}

a {
  text-decoration: underline;
  color: #000000;
}

a:hover, a:active {
    color: #363636;
}

a.missing:link,
a.missing:visited,
a.missing:active { color: #ca1212; text-decoration: none; }

a.bom:link,
a.bom:visited,
a.bom:active { text-decoration: underline }

li {margin-bottom: 3px;}

table {
  border: 1px solid lightgrey;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  border: 1px solid lightgrey;
  text-align: left;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
}

th {
  background: rgb(231, 231, 231);
}

.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative;
}

.page-content {
  display: flex;
  padding: 30px 0;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 20px 0;
}

.site-title {
  color: #424242;
  font-size: 32px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.site-subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: -1px;
  margin: 0;
}

.icon {
  box-sizing: border-box;
  display: inline-block;
  height: 64px;
  padding: 10px 0;
  vertical-align: middle;
  width: 64px;
}

.smallicon {
    box-sizing: border-box;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;
  }

.header-buttons{
  float:right;
}

.header-text {
  float:left;
}

nav {
  min-width: 200px;
}

.sidebar {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  height: auto;
  margin: 10px 0 0 0;
  overflow: auto;
  padding: 0;
  width: 200px;
}

.sidebar .menu-icon {
  display: none;
}

.sidebar a {
  color: black;
  display: block;
  padding: 16px;
  text-decoration: none;
}

.nav-list {
  font-weight: bold;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-list a.navhome{
  background-color: var(--primary-color);
  color: white;
}

.nav-list li{
  margin: 0;
}

.nav-list li.active{
  background-color: #ececec;
}

.nav-list a.active{
  background-color: #ccc;
}

.nav-list a:hover:not(.active){
  background-color: var(--secondary-color);
  color: white;
}

.sub-nav-list{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.sub-nav-list a{
  font-weight: normal;
  padding-left: 26px;
}

.sub-nav-list a.navhome{
  background-color: var(--primary-color);
  color: white;
}

.sub-nav-list a.active{
  background-color: #ccc;
}

.sub-nav-list a:hover:not(.active){
  background-color: var(--secondary-color);
  color: white;
}
.wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 740px;
  padding: 10px 30px;
  width: 95%;
}

.site-header {
  padding-left: 200px;
}

#preview-panel > .site-header {
  padding-left: 0;
}

/**
 * Clearfix
 */
.wrapper:after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (max-width: 600px) {
  nav {
    min-width: 0;
  }

  .site-header {
    padding-left: 0;
  }

  .sidebar {
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: auto;
    margin: 0;
    padding: 10px;
    width: auto;
  }

  .wrapper {
    max-width: 600px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sidebar .menu-icon {
    display: block;
    float: left;
    height: 20px;
    line-height: 0;
    padding: 0;
    text-align: center;
    width: 20px;
  }

  .sidebar .menu-icon > svg {
    height: 15px;
    width: 18px;
  }

  .sidebar .menu-icon > svg path {
    fill: #424242;
  }

  .sidebar .nav-list{
    clear: both;
    display: none;
  }

  .sidebar:hover .nav-list{
    display: block;
    padding-bottom: 5px;
  }
}

.pagebom {
    margin: 10px 0;
    padding: 0 20px;
    border: 1px solid #535353;
    border-radius: 3px;
}

.caution-block {
    background-color: #fdd0ab;
    padding: 0 40px 0 60px;
    border: 1px solid #d46000;
    border-radius: 3px;
    background-image: url(Icons/caution.png);
    background-repeat: no-repeat;
    background-position: 12px 10px;
}

.caution-block strong{
    color: #d46000;
}

.warning-block {
    background-color: #fcc;
    padding: 0 40px 0 60px;
    border: 1px solid #c00;
    border-radius: 3px;
    background-image: url(Icons/warning.png);
    background-repeat: no-repeat;
    background-position: 12px 10px;
}

.warning-block strong{
    color: #c00;
}

.info-block {
    background-color: #ccf;
    padding: 0 40px 0 60px;
    border: 1px solid #00c;
    border-radius: 3px;
    background-image: url(Icons/info.png);
    background-repeat: no-repeat;
    background-position: 12px 10px;
}

.info-block strong{
    color: #00c;
}

.help-block {
    background-color: #ccf;
    padding: 0 40px 0 60px;
    border: 1px solid #00c;
    border-radius: 3px;
    background-image: url(Icons/help.png);
    background-repeat: no-repeat;
    background-position: 12px 10px;
}

.help-block strong{
    color: #00c;
}


/**
 * Details header
 */
 .details-header:after {
  clear: both;
  content: "";
  display: table;
}

.details-header{
  border: 1px solid #aaa;
  display: flex;
  background-color: #ecd2cd;
}
.details-thumb-outer{
    flex-basis: 35%;
    float: left;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
}

.details-thumb{
  box-sizing: border-box;
  border: 1px solid #aaa;
  background-color: #fff;
  height: 100%;
}

.details-thumb img {
  box-sizing: border-box;
  max-height: 30vh;
  object-fit: contain;
  padding: 0;
  width: 100%;
}

.other-details{
  flex-basis: 65%;
  box-sizing: border-box;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex-grow: 1;
}

.detail{
  border: 1px solid #aaa;
  box-sizing: content-box;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.gb3dviewer {
  border: 2px solid #000;
  padding: 0;
}

.gallery-thumb img {
  border: 4px solid var(--secondary-color);
  box-sizing: border-box;
  height: 80px;
  margin: 10px 10px 10px 0;
  padding: 1px;
  width: auto;
}

.gallery-thumb img:hover {
  border: 4px solid var(--primary-color);
  cursor:pointer;
}

.gallery-show img {
  box-sizing: border-box;
  border: 4px solid #444;
  height: 50vh;
  object-fit: contain;
  padding: 0;
  width: 70%;
  background: #aaa;
}


.katex img {
	object-fit: fill;
    padding: unset;
}

.header-wrapper {
  display: flex;
}

.page-settings-and-warnings {
  margin-left: auto;
}

/* Pyments syntax highlighting */
pre { line-height: 125%; margin: 0; }
td.linenos pre { color: #000000; background-color: #f0f0f0; padding: 0 5px 0 5px; }
span.linenos { color: #000000; background-color: #f0f0f0; padding: 0 5px 0 5px; }
td.linenos pre.special { color: #000000; background-color: #ffffc0; padding: 0 5px 0 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding: 0 5px 0 5px; }
.codehilite .hll { background-color: #ffffcc }
.codehilite { background: #f8f8f8; }
.codehilite .c { color: #408080; font-style: italic } /* Comment */
.codehilite .err { border: 1px solid #FF0000 } /* Error */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #666666 } /* Operator */
.codehilite .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m { color: #666666 } /* Literal.Number */
.codehilite .s { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #008000 } /* Name.Builtin */
.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0000FF } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #666666 } /* Literal.Number.Bin */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #0000FF } /* Name.Function.Magic */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .vm { color: #19177C } /* Name.Variable.Magic */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */
