<style>
.new-page-table{
  width: 100%;
}

.new-page-table td{
  width: 33%;
  text-align: center;
}

.new-page-table a{
  color: black;
}

.err_msg{
  color: red;
}

</style>

<h1>Create a new page</h1>

{% if error_message is not none %}
<p class=err_msg>{{error_message}}</p>
{%endif %}

 <table class="new-page-table">
  <tr>
    <td><a href="{{root}}/-/new-template/empty"><img src="{{root}}/static/local-server/EmptyPage.png" alt="New empty page icon"></a></td>
    <td><a href="{{root}}/-/new-template/stepbystep"><img src="{{root}}/static/local-server/StepByStepPage.png" alt="New step-by-step page icon"></a></td>
    <td></td>
  </tr>
  <tr>
    <td><a href="{{root}}/-/new-template/empty">Empty Page</a></td>
    <td><a href="{{root}}/-/new-template/stepbystep">Step-By-Step Instructions</a></td>
    <td></td>
  </tr>
</table> 