{% if primary_color is not none %}
  <style>
    .nav-list a.navhome, .sub-nav-list a.navhome{
      background-color: {{primary_color}} !important;
    }
    .gallery-thumb img:hover {
      border: 4px solid {{primary_color}};
    }
  </style>
{% endif %}
{% if secondary_color is not none %}
<style>
  .nav-list a.active, .sub-nav-list a.active {
    background-color: {{secondary_color}} !important;
  }
</style>
{% endif %}
{% if hover_color is not none %}
<style>
  .nav-list a:hover:not(.active), .sub-nav-list a:hover:not(.active) {
    background-color: {{hover_color}} !important;
  }
</style>
{% endif %}
{% if remove_images_border %}
<style>
.gallery-show img {
  border: none;
}
</style>
{% endif %}
{% if remove_images_background %}
<style>
.gallery-show img {
  background: none;
}
</style>
{% endif %}